.restaurant-menu--wrapper-main {
	background-color: var(--color-tertiary);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.restaurant-menu--wrapper {
	width: 80%;
	margin: auto;
	color: var(--color-primary);
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.restaurant-menu--left {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 30px 50px 0;
}
.restaurant-menu--left > img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
}
.restaurant-menu--right {
	padding: 50px 30px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
}
.restaurant-menu--name {
	font-size: 30px;
	font-weight: 600;
}
.cus {
	background-color: rgb(69, 94, 135);
	padding: 2px 10px;
	border-radius: 3px;
}
.misc {
	display: flex;
	align-items: center;
	justify-content: center;
}
.misc > span {
	padding: 0 10px;
}
.misc > span:not(:last-child) {
	border-right: 2px solid #a9a9a9;
}
.menu-list {
	width: 80%;
	margin: auto;
	color: var(--color-primary);
}
