.footer {
	min-height: 100px;
	background: var(--color-secondary);
	color: var(--color-primary);
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.centers {
	display: grid;
	grid-template-columns: 1fr;
	margin: 20px 0;
}
.centers > div {
	margin: 5px 0;
}
.footer-nav {
	margin: 20px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.footer-nav > a {
	color: var(--color-primary);
	height: 30px;
	width: 100px;
}
.footer-nav > a:hover {
	color: var(--color-text);
}
