@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800;900&display=swap');
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--color-primary: #ffffff;
	--color-nav: #f0f0f0;
	--color-text: #fc8019;
	--color-secondary: #151721;
	--color-tertiary: #494d60;
}

html {
	font-family: 'Poppins', sans-serif;
}
a {
	text-decoration: none;
	color: var(--color-secondary);
}
