.wrapper {
	height: 80vh;
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
}
.error-wrapper {
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.go-to-home {
	margin-top: 20px;
	padding: 5px 10px;
	border: 2px solid var(--color-text);
}

.subheading {
	margin: 20px 0;
}
.container {
	margin: 20px 0;
}
